<div class="spinner-border"  *ngIf="loader"  role="status">
  <span class="sr-only">Loading...</span>
</div>
  
  <section class="container">


    <section class="one">
     <!-- <div class="logo">
       <img src="https://image.flaticon.com/icons/svg/143/143361.svg">
     </div> -->
     <h2 class="heading">
       please subscribe to get updates
     </h2>
     <p> signup with your email to get latest updates 
     </p>
   
       <input type='text' (keyup)="onKey($event)" placeholder="enter your email">  <span *ngIf="error" class="error"> Email not valid</span> <br/>
      
       <button class="btn" 
       (click)="subscribe()"
       >
         subscribe
       </button>
     
     </section>
     <section  class="two" [ngClass]="{'on':sucess}">
       <h3>
         thank you for subscribing !
       </h3>
       <div class="close"     (click)="close()"> 
       </div>
     </section>
   </section>