<div class="row share"> 
<div class="col-sm-2">
    <div class="fb-share-button" data-href="http://gyanloknews.in/#/news/NDA%3D" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
</div>
<div class="col-sm-2">
    
</div>
<div class="col-sm-2">
    
</div>
<div class="col-sm-2">
    
</div>
<div class="col-sm-2">
    
</div>
<div class="col-sm-2">
    
</div>

</div>
