<div class="banner-top-thumb-wrap">
  <div class="d-lg-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-between  mb-3 mb-lg-0">
      <div>
        <img
        src="assets/images/dashboard/star-magazine-9.jpg"
          alt="thumb"
          class="banner-top-thumb"
        />
      </div>
      <h5 class="m-0 font-weight-bold">
        The morning after: What people
      </h5>
    </div>
    <div class="d-flex justify-content-between mb-3 mb-lg-0" (click)="gotoNews()">
      <div>
        <img
        src="assets/images/dashboard/star-magazine-9.jpg"
          alt="thumb"
          class="banner-top-thumb"
        />
      </div>
      <h5 class="m-0 font-weight-bold">How Hungary produced the</h5>
    </div>
    <div class="d-flex justify-content-between mb-3 mb-lg-0">
      <div>
        <img
        src="assets/images/dashboard/star-magazine-9.jpg"
          alt="thumb"
          class="banner-top-thumb"
        />
      </div>
      <h5 class="m-0 font-weight-bold">
        A sleepy island paradise's most
      </h5>
    </div>
    <div class="d-flex justify-content-between mb-3 mb-lg-0">
      <div>
        <img
        src="assets/images/dashboard/star-magazine-9.jpg"
          alt="thumb"
          class="banner-top-thumb"
        />
      </div>
      <h5 class="m-0 font-weight-bold">
        America's most popular national
      </h5>
    </div>
  </div>
</div>