<div class="banner-top-thumb-wrap" *ngIf="topNewsList && topNewsList.length">
  <div class="d-lg-flex justify-content-between align-items-center">
    <div   (click) ="gotoNews(news)" class="d-flex  top-news justify-content-between mb-3 mb-lg-0" *ngFor="let news of topNewsList | slice :0:4">
      <div>
        <img
        src="{{news.Images}}"
          alt="thumb"
          class="banner-top-thumb"
        />
      </div>
      <h5 class="m-0 font-weight-bold">
         {{news.Title}}
      </h5>
    </div>
   
  </div>
</div>