/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

@import "~ngx-toastr/toastr";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/*-------------------------------------------------------------------*/

/*-------------------------------------------------------------------*/
/* === Import template variables === */
@import "./assets/scss/variables";

/* === Core Styles === */
@import "./assets/scss/cards";
@import "./assets/scss/fonts";
@import "./assets/scss/typography";
@import "./assets/scss/pagination";

@import "./assets/scss/buttons";
@import "./assets/scss/navbar";
@import "./assets/scss/wrapper";
@import "./assets/scss/news-post";
@import "./assets/scss/contact";
@import "./assets/scss/footer";
@import "./assets/scss/error";
@import "./assets/scss/media-queries";

.cursor {
    cursor: pointer;
}


@import "~@progress/kendo-theme-material/dist/all.scss";

// body{
//     overflow: hidden;
// }

.k-grid-content{
    overflow: hidden;
}


.k-grid tr.even { background-color: #fff; }
.k-grid tr.odd { background-color: #F5F4F9 }
.k-grid tr.ineven { background-color: #F5F4F9; }
.k-grid tr.inodd { background-color: #F1F0F6 }




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
