
  <!-- <kendo-grid [data]="gridData" [height]="410" [loading]="isloading"  [columnMenu]="{ filter: true }">
    <kendo-grid-column
 [title]="col.title"
      *ngFor="let col of columns"
      [field]="col.field"
    >
    <ng-template kendoGridCellTemplate let-dataItem  *ngIf="col.field ==='Status'">
       
        <div class="status">{{ col.field}}</div>
      </ng-template>
</kendo-grid-column>
  </kendo-grid>  -->


  
<!-- <kendo-grid [kendoGridBinding]="gridData" [filterable]="true" [height]="410" [loading]="isloading"  [columnMenu]="{ filter: true }">
    <kendo-grid-column
 [title]="col.title"
      *ngFor="let col of columns"
      [field]="col.field"
    >
    <ng-template kendoGridCellTemplate let-dataItem  *ngIf="col.field ==='Status'">
       
        <div class="status">{{ col.field}}</div>
      </ng-template>
</kendo-grid-column>
  </kendo-grid>  -->

  <!-- <app-tree></app-tree> -->


  <app-master></app-master>