<div class="container-scroller">
    <div class="main-panel">
        <app-top-header> </app-top-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>

</div>

<div class="tracker" *ngIf="covidData && covidDetail" >
    <i class="closed mdi  mdi-close" (click)="tracker()"></i>
    <div class="title"> Covid 19</div>
    <span class="place"> {{covidData.state}}</span>
    <span class="text"> {{covidData.description}}</span>
    <hr />
    <span><span  class="Content"> {{covidData.newCases}} </span> <span> New Cases</span> </span>
    <hr />
    <span > <span  class="Content"> {{covidData.death}} </span> <span> Death's</span> </span>

</div>