<header id="header">
  <div class="container">
 <div class="row media">
  <div class="col-sm-3" >
    <div class="twitter">
      <a  href="https://twitter.com/gyanlok4?ref_src=twsrc%5Etfw" class="twitter-follow-button"
       data-show-count="false"> <i _ngcontent-uph-c127="" class="mdi mdi-twitter"></i> 
       <span> Follow @gyanlok4 </span></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    
  </div>

<div class="col-sm-3" >
     <div class="fb">
      <div class="fb-like" data-href="https://www.facebook.com/gyanlok247" data-width="150px" data-layout="button_count" data-action="like" data-size="large" data-share="false"></div>
  
     </div>
    
    
  </div>
 
  <div class="col-sm-3" >
    <div  class="yt">

    
    <div class="g-ytsubscribe" data-channelid="UCF7ovsbqvMt_c4gQCLOyqIg" data-layout="default" data-theme="dark" data-count="default"></div>
  
  </div>
  </div>
 <!-- 
  <div class="col-sm-3" >
    <div class="twitter">
      <a  href="https://twitter.com/gyanlok4?ref_src=twsrc%5Etfw" class="twitter-follow-button"
       data-show-count="false"> <i _ngcontent-uph-c127="" class="mdi mdi-twitter"></i> 
       <span> Follow @gyanlok4 </span></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    
  </div> -->

 </div>
   
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="d-flex justify-content-between align-items-center navbar-top">
        <ul class="navbar-left">
          <li>{{current_date | date: 'M/d/yy, h:mm a'}}</li>
          <li *ngIf="temp">{{temp?.main?.temp}}°C,{{temp?.name}} ,{{temp.weather && temp.weather.length ? temp.weather[0].description:''}}</li>
        

        </ul>
        <div>
          <a class="navbar-brand" href="#"
            ><img src="assets/icons/brand.png" alt=""
          /></a>
        </div>
        <div class="d-flex">
          <ul class="navbar-right">
            <li>
              <a href="#">ENGLISH</a>
            </li>
            <!-- <li>
              <a href="#">ESPAÑOL</a>
            </li> -->
          </ul>
          <ul class="social-media">
            <li>
              <a href="https://www.instagram.com/gyanlok247">
                <i class="mdi mdi-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/gyanlok247">
                <i class="mdi mdi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/c/gyanlokcomputerlearningschool">
                <i class="mdi mdi-youtube"></i>
              </a>
            </li>
            <li>
              <a href="https://in.linkedin.com/in/gyan-lok-2427a9135">
                <i class="mdi mdi-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/gyanlok4">
                <i class="mdi mdi-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-bottom-menu">
        <button
          class="navbar-toggler"
          type="button"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon" (click)="showHide()"></span>
        </button>

    

        <app-menu-bar [navbarSuject]="navbarSuject"></app-menu-bar>



      </div>
    </nav>

    <!-- partial -->
  </div>
</header>