<header id="header">
  <div class="container">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="d-flex justify-content-between align-items-center navbar-top">
        <ul class="navbar-left">
          <li>{{current_date | date: 'M/d/yy, h:mm a'}}</li>
          <!-- <li>30°C,London</li> -->
        </ul>
        <div>
          <a class="navbar-brand" href="#"
            ><img src="assets/icons/brand.png" alt=""
          /></a>
        </div>
        <div class="d-flex">
          <ul class="navbar-right">
            <li>
              <a href="#">ENGLISH</a>
            </li>
            <!-- <li>
              <a href="#">ESPAÑOL</a>
            </li> -->
          </ul>
          <ul class="social-media">
            <li>
              <a href="https://www.instagram.com/gyanlok247">
                <i class="mdi mdi-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/gyanlok247">
                <i class="mdi mdi-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/c/gyanlok">
                <i class="mdi mdi-youtube"></i>
              </a>
            </li>
            <li>
              <a href="https://in.linkedin.com/in/gyan-lok-2427a9135">
                <i class="mdi mdi-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/gyanlok4">
                <i class="mdi mdi-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-bottom-menu">
        <button
          class="navbar-toggler"
          type="button"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon" (click)="showHide()"></span>
        </button>

    

        <app-menu-bar [navbarSuject]="navbarSuject"></app-menu-bar>



      </div>
    </nav>

    <!-- partial -->
  </div>
</header>