<!-- 
<div class="row main-news">

    <div class="col-sm-2">
     
    </div>
    
 <div class="col-sm-8 content">
  
    <app-content-title></app-content-title>
    <app-content-share></app-content-share>
    <app-content-image></app-content-image>

    <app-content-video></app-content-video>

    <app-content-detail></app-content-detail>
 </div>

 <div class="col-sm-2">
     
</div>


</div> -->



<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="news-post-wrapper">

            <app-content-title></app-content-title>


         </div>

      </div>

   </div>

</div>