<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            
            <ul class="nav">


              <li class="nav-item">
                <a class="nav-link" >
                  <img src="../../assets/icons/brand.png" alt="" width="30" height="24">
                  Gyan Lok News</a>
              </li>
                <li class="nav-item">
                  <a class="nav-link ">{{current_date | date:'short'}}</a>
                </li>
             
                <li class="nav-item">
                  <a class="nav-link">Home</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" >Site Map</a>
                </li> -->
              </ul>
        </div>
        <div class="col-sm">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" >

                    <img src="../../assets/icons/fb.svg" alt="" width="30" height="24">
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" >

                    <img src="../../assets/icons/whtsapp.svg" alt="" width="30" height="24">
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" >
                    <img src="../../assets/icons/tweet.svg" alt="" width="30" height="24">
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " >

                    <img src="../../assets/icons/insta.svg" alt="" width="30" height="24">
                  </a>
                </li>
              </ul>
        </div>
       
      </div>
  </div>
