<div
class="navbar-collapse justify-content-center collapse" [ngClass]="{'show':navbarStatus}"
id="navbarSupportedContent"
>
<ul
  class="navbar-nav d-lg-flex justify-content-between align-items-center"
>
  <li>
    <button  (click)="closeNavabar()" class="navbar-close" [ngStyle]="{'display': navbarStatus ? 'inline-block':'none'}">
      <i class="mdi mdi-close"></i>
    </button>
  </li>
  <li class="nav-item active">
    <a class="nav-link active" href="index.html">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pages/world.html">State</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pages/author.html">Country</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pages/news-post.html">Internation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pages/business.html">Business</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pages/sports.html">Sports</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pages/art.html">Art</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pages/politics.html">Education</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="pages/real-estate.html">Learning </a>
  </li>


</ul>
</div>