<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="text-center">
                <h1 class="text-center mt-5">
                    About Us
                </h1>
                <p class="text-secondary fs-15 mb-5 pb-3">

                </p>
            </div>
        </div>
    </div>
    <div class="contact-wrap">
        <div class="row">
            <div class="col-lg-6  mb-5 mb-sm-2">
                <div class="position-relative image-hover">
                    <img src="assets/icons/brand.png" class="img-fluid" alt="world-news" />
                </div>
            </div>
            <div class="col-lg-6 mb-2 mb-lg-2">
                <div class="row">
                    <div class="col-sm-12  mb-2 mb-lg-2">

                        <p class="mb-4">
                            Gyan Lok is Online News Channel which is runned by Mr.Sagar Kumar (Youtuber) .We started our
                            first channel gyan lok
                            computer learning school on 26 Nov 2016 with study video's of computer science . Now we
                            started to capture news from across world and analayis it and fact check and present only
                            those news which is true .



                        </p>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-2 mb-lg-2">
                <div class="row">
                    <div class="col-sm-12  mb-2 mb-lg-2 im">

                        <div class="text-center">
                            <h1 class="text-center mt-5">
                                Our Team
                            </h1>
                            <p class="text-secondary fs-15 mb-5 pb-3">

                            </p>

                       
                        </div>

                    </div>


                    <div class="col-lg-3  mb-5 mb-sm-2 in">
                        <div class="position-relative image-hover im">
                            <img src="assets/icons/author3.PNG" class="img-fluid" alt="world-news" />

                            
                        </div>
                        <span class="team">Mehak</span>
                    </div>

                    <div class="col-lg-3  mb-5 mb-sm-2 in">
                        <div class="position-relative image-hover im">
                            <img src="assets/icons/author2.PNG" class="img-fluid" alt="world-news" />

                           
                        </div>
                        <span class="team">kamal </span>
                    </div>


                    <div class="col-lg-3  mb-5 mb-sm-2 in">
                        <div class="position-relative image-hover im">
                            <img src="assets/icons/author.jpg" class="img-fluid" alt="world-news" />

                          
                        </div>
                        <span class="team">Sagar </span>
                    </div>

                    <div class="col-lg-3  mb-5 mb-sm-2 im">
                        <div class="position-relative image-hover">
                            <img src="assets/icons/author4.PNG" class="img-fluid" alt="world-news" />

                            
                        </div>
                        <span class="team">Nisha </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>