<div class="world-news">
    <div class="row">
      <div class="col-sm-12">
        <div class="d-flex position-relative  float-left">
          <h3 class="section-title">World News</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2" *ngFor="let item of mainNews">
        <div class="position-relative image-hover">
          <img
          [src]="item.Images"
            class="img-fluid"
            alt="world-news"
          />
          <span class="thumb-title">{{item.Deptt}}</span>
        </div>
        <h5 class="font-weight-bold mt-3">
        {{item.Title}}
        </h5>
      
       
      </div>
     
    </div>
  </div>