<div class="popular-news" *ngIf="popularrNews && popularrNews.length">
    <div class="row">
      <div class="col-lg-3">
        <div class="d-flex position-relative float-left">
          <h3 class="section-title">Popular News</h3>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="popularrNews && popularrNews.length">
      <div class="col-lg-6  mb-5 mb-sm-2">
        <div class="position-relative image-hover">
          <img
          src="{{popularrNews[0].Images}}"
            class="img-fluid"
            alt="world-news"
          />
          <span class="thumb-title">{{popularrNews[0].Deptt}}</span>
        </div>
        <h1 class="font-weight-600 mt-3" (click)="gotoNews(popularrNews[0])" > 
          {{popularrNews[0].Title}}
        </h1>
        <p class="fs-15 font-weight-normal">
          {{popularrNews[0].Description}}
        </p>
      </div>
      <div class="col-lg-6  mb-5 mb-sm-2">
        <div class="row">
          <div class="col-sm-6  mb-5 mb-sm-2"  (click)="gotoNews(item)" *ngFor="let item of popularrNews">
            <div class="position-relative image-hover">
              <img
              [src]="item.Images"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">POLITICS</span>
            </div>
            <h5 class="font-weight-600 mt-3">
             {{item.Title}}
            </h5>
            
          </div>
          
        </div>
      
      </div>
    </div>
  </div>