<div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div class="wrapper wrapper--w900">
        <div class="card card-6">
            <div class="card-heading">
                <h2 class="title">Add New News</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-row">
                        <div class="name">Title</div>
                        <div class="value">
                            <input class="input--style-6" type="text" name="full_name"  placeholder="New Title">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name"> Location</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-6" type="text" name="Location" placeholder="Kathua">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name"> Country</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-6" type="text" name="Location" placeholder="Kathua">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name"> State</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-6" type="text" name="Location" placeholder="Kathua">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name"> District</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-6" type="text" name="Location" placeholder="Kathua">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Description</div>
                        <div class="value">
                            <div class="input-group">
                                <textarea class="textarea--style-6" name="message" placeholder="News DesScription"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name"> Video Link</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-6" type="text" name="Location" placeholder="Kathua">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Author</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-6" type="text" name="Location" placeholder="Kathua">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="name">Upload Image</div>
                        <div class="value">
                            <div class="input-group js-input-file">
                                <input class="input-file" type="file" name="file_cv" id="file">
                                <label class="label--file" for="file">Choose file</label>
                                <span class="input-file__info">No file chosen</span>
                            </div>
                            <!-- <div class="label--desc">Upload your CV/Resume or any other relevant file. Max file size 50 MB</div> -->
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn--radius-2 btn--blue-2" type="submit">Send Application</button>
            </div>
        </div>
    </div>
</div>