<div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div class="wrapper wrapper--w900">
        <div class="card card-6">
            <div class="card-heading">
                <h2 class="title">Add New News</h2>
            </div>
            <div class="card-body">
                <form  [formGroup]="form" >
                    <div class="form-row">
                        <div class="name">Title</div>
                        <div class="value">
                            <input class="input--style-6" formControlName="Title"  type="text" name="full_name"  placeholder="New Title">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name"> Location</div>
                        <div class="value">
                            <div class="input-group">
                                <input formControlName="Location" class="input--style-6" type="text" name="Location" placeholder="Location Full Address">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name"> Country</div>
                        <div class="value">
                            <div class="input-group">
                                <input  formControlName="Country" class="input--style-6" type="text" name="Location" placeholder="Country">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name"> State</div>
                        <div class="value">
                            <div class="input-group">
                                <input formControlName="State" class="input--style-6" type="text" name="Location" placeholder="State">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name"> District</div>
                        <div class="value">
                            <div class="input-group">
                                <input  formControlName="District" class="input--style-6" type="text" name="Location" placeholder="District">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Description</div>
                        <div class="value">
                            <div class="input-group">
                                <textarea  formControlName="Description" class="textarea--style-6" name="message" placeholder="News Description"></textarea>
                            </div>
                        </div>
                    </div>

           


                    <div class="form-row">
                        <div class="name">Description 2</div>
                        <div class="value">
                            <div class="input-group">
                                <textarea formControlName="Description2" class="textarea--style-6" name="message" placeholder="News Description 2"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Description 3</div>
                        <div class="value">
                            <div class="input-group">
                                <textarea formControlName="Description3" class="textarea--style-6" name="message" placeholder="News Description 3"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name"> Video Link</div>
                        <div class="value">
                            <div class="input-group">
                                <input  formControlName="Video" class="input--style-6" type="text" name="Location" placeholder="Youtube Video Link">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Author</div>
                        <div class="value">
                            <div class="input-group">
                                <input formControlName="Author" class="input--style-6" type="text" name="Location" placeholder="News Author">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Department</div>
                        <div class="value">
                            <div ngbDropdown >
                                <button class="btn btn-outline-primary mr-2" id="dropdownManual"  ngbDropdownToggle>{{deptt ? deptt :'Select Department'}}</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                                  <button ngbDropdownItem *ngFor="let item of  Department" (click)="changeDeptt(item)">{{item}}</button>
                              
                                </div>
                              </div>
                              
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="name">Filter</div>
                        <div class="value">
                            <div ngbDropdown >
                                <button class="btn btn-outline-primary mr-2" id="dropdownManual"  ngbDropdownToggle>{{filterApplied ? filterApplied :'Select Filter'}}</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                                    <button ngbDropdownItem *ngFor="let item of  Filter" (click)="changeFilter(item)">{{item}}</button>
                                </div>
                              </div>
                              
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="name">Upload Image</div>
                        <div class="value">
                            <div class="input-group js-input-file">
                                <input class="input-file"   (change)="onSelectFile($event)" type="file" name="file_cv" id="file">
                                <label class="label--file" for="file">Choose file</label>
                                <span class="input-file__info">{{fileName}}</span>
                            </div>
                            <!-- <div class="label--desc">Upload your CV/Resume or any other relevant file. Max file size 50 MB</div> -->
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn--radius-2 btn--blue-2"  (click)="addNewnews()" [disabled]="!form.valid" >Send Application</button>
            </div>
        </div>
    </div>
</div>